:root {
  /* Colors */
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);

  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cream);
  color: var(--grey);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 14px;
}

h3 {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

img {
  max-width: 100%;
  height: 100%;
  display: block;
}

button {
  border: none;
  background: transparent;
}

.wrapper {
  width: min(1280px, 100%);
  margin-inline: auto;
  padding: 16px;
}

.card__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}

.card {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  width: min(550px, 100%);
}

.card__img img:nth-of-type(2) {
  display: none;
}

.card__details {
  padding: 16px;
}

.card__subtitle {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.card__title {
  font-size: 28px;
  color: var(--black);
  margin: 16px 0;
}

.price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin: 16px 0;
}

.price strong {
  font-size: 28px;
  font-family: "Fraunces";
  color: var(--green-500);
}

.card__btn {
  display: flex;
  justify-content: center;
  gap: 8px;
  width: 100%;
  background-color: var(--green-500);
  color: var(--white);
  padding: 16px 0;
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
  margin-bottom: 16px;
  transition: all 0.3s ease-in;
}

.card__btn:hover{ 
    background-color: var(--green-700);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 668px) {
  .card {
    flex-direction: row;
  }

  .card__img, .card__details{ 
    flex: 1;
  }

  .card__img img:nth-of-type(1) {
    display: none;
  }
  .card__img img:nth-of-type(2) {
    display: block;
  }

  .card__details{ 
    padding: 32px;
  }

  .card__btn{ 
    margin-bottom: 0;
  }
}
